/* Center the header */
header {
  text-align: center;
}
/* Center the image */
img {
  display: block;
  margin: 0 auto
}
/* Style navigation links */
nav a {
  display: inline-block;
  padding: 10px;
  background-color: grey;
  text-align: center;
}
/* Center the image caption */
figcaption {
  font-size: smaller;
  text-align: center;
}
/* Update text block */
#featured-property {
  width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}
/* Make the #details section horizontal */
#details div {
  float: left;
  width: 25%; /* Since we have 4 divs */
  background-color: red; /* Adjust color as needed */
  text-align: center;
}